---
layout: default
---

<main class="w-100 w-50-ns center">
  {% for entry in site.data.projects %}
  {% assign project = entry[1] %}
  {% unless project.published == false %}
  <article class="mw5 mw6-ns center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
    <div class="tc">
      <img src="{{ "img/m-logo.svg" | relative_url }}" class="br-100 h3 w3 dib" title="MacStadium M logo">
        <h1 class="f4 f3-ns">
          <a href="{{project.repo}}" title="{{project.name}}" class="black link no-underline underline-hover">
          {{project.name}}
          </a>
        </h1>
      <hr class="mw3 bb bw1 b--black-10">
    </div>
    <p class="lh-copy measure center f6 f5-ns black-70">
      {{project.description}}
    </p>
    <p class="lh-copy measure center tc f6 f5-ns black-70">
      {% if project.license %}{{project.license}} License &middot; {% endif %}<span title="Project Language">{{project.lang | capitalize}}</span><br>
      <span class="db pt2"><time datetime="{{project.date | date: "%b %Y" }}">{{project.date | date: "%b %Y" }}</time></span>
    </p>
  </article>
  {% endunless %}
  {% endfor %}
</main>
